
[Unit]
  
Description=webflask
 
 
 
[Service]
 
Type=simple
 
 
#EnvironmentFile=/etc/systemd/test.conf
 
ExecStart=/usr/bin/python3 /home/admin/flaskweb_demo/api/demo.py
 
 
 
 
 
[Install]
 
WantedBy=multi-user.target
